/* Collapsible Forum Categories */

.collapse-btn {
    margin: -25px 8px 0 0 !important;
}

/* Custom css Portail */

#phpbb #wrap #page-body .copyright {
    display: none;
}

.portal-module-content {
    margin-top: 0 !important;
}

#portal-body li.header {
	display: none;
}

#portal-body {
    padding-top: 0 !important;
}

.portal-no-margin {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.portal-side {
    margin: 6px 10px !important;
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iFrameCalendar {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45.25%;
}

.iFrameCalendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ts3v_1074858 .content {
	min-height: 1em;
}

#ts3v_1074858 .suffix {
	display: none;
}

/* s9e-mediaembed */

[data-s9e-mediaembed="youtube"] {
    max-width: 100% !important;
}

/* Post Number */

p.post-number {
    margin-bottom: 0.6em;
    padding: 10px 0 0 0;
}

/* Calendar Tag */

.marttiphpbb-topicprefixtags-topicrow {
    color: #264162;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.marttiphpbb-topicprefixtags-topicrow a:hover {
    text-decoration: underline;
}

.marttiphpbb-topicprefixtags-topic {
    color: #264162;
}

/* 
Ajouter autocomplete="off" après <input type="text" dans ext\marttiphpbb\calendarmonoinput\styles\prosilver\template\include date_input.html
*/

/* jqueryuidatepicker */

#ui-datepicker-div {
    font-size: 1.1em;
}

/* calendarmonthview */

div.month
{
	width: 100%;
}

div.month div.week-container
{
	position: relative;
	width: 100%;
}

div.month div.weekdays
{
	position:absolute;
	display:flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

div.month div.weekdays div.day
{
	flex: 1;
	background: #eee;
	margin: .15em;
	border-radius: .5em;
}
div.month div.weekdays div.day.this-month
{
	color: #28313F;
	background: #ccc;
}

div.month div.weekdays div.day.today.this-month
{
	background-color: #6086b8 !important;
}

div.month div.weekdays div.day div.dayhead
{
	padding: .4em .8em;
}

div.month div.weekdays div.day div.dayhead div.monthday
{
	font-size: 1.8em;
	float: left;
}

div.month div.weekdays div.day div.dayhead div.weekday
{
	font-size: 1.2em;
	float: left;
	padding: .1em .2em;
}

div.month div.weekdays div.day div.dayhead div.moon
{
	font-size: 1.2em;
	float: right;
	padding: .1em .2em;
	color: #444;
	margin: -.5em;
}

div.month div.weekdays div.day div.dayhead div.moon span
{
	z-index: 1;
}

div.month div.weekdays div.day div.dayhead div.isoweek
{
	font-style: italic;
	font-size: 0.9em;
	float: right;
	clear: right;
	padding: .1em .2em;
}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px)
{
	div.moon > span, div.isoweek, div.weekdays div.day div.weekday
	{
		display: none;
	}
}

div.month div.weekdays div.day
{
	color: #ccc;
}

div.month div.weekdays div.day.sat,
div.month div.weekdays div.day.sun
{
	background-color: #eee;
}
div.month div.weekdays div.day.this-month.sat,
div.month div.weekdays div.day.this-month.sun
{
	background-color: #bbb;
}

div.month div.eventrows
{
	display:flex;
	flex-direction: column;
}

div.month div.eventrows div.evrow-head
{
	height: 2.5em;
}
div.month div.eventrows div.evrow-foot
{
    height: .7em;
    margin-bottom: 7px;
}
div.month div.eventrows div.evrow
{
	height: 2em;
    padding: .15em 0;
    margin-bottom: 3px;
	display: flex;
	justify-content: space-evenly;
	z-index: 1;
}

div.month div.eventrows div.evrow div.f-con
{
	min-width: 0;
}

div.month div.eventrows div.evrow div.f-con div.ev
{
	margin: 5px;
	background: #eee;
	border: 1px solid #aaa;
	border-left-style: dashed;
	border-right-style: dashed;
	min-width: 0;
}

div.month div.eventrows div.evrow:nth-child(even) div.f-con div.ev{
	background: #eee;
}
div.month div.eventrows div.evrow div.ev.ev-start div.ev-overlay{
	/* border-top-left-radius: .7em;
	border-bottom-left-radius: .7em; */
}
div.month div.eventrows div.evrow div.ev.ev-end div.ev-overlay{
	/* border-top-right-radius: .7em;
	border-bottom-right-radius: .7em; */
}
div.month div.eventrows div.evrow div.ev div.ev-overlay{
	width: 100%;
	height: 100%;
}
div.month div.eventrows div.evrow div.ev div.ev-overlay:hover,
div.month div.eventrows div.evrow div.ev div.ev-overlay.hover
{
	background: rgba(255, 255, 255, 0.9);
}

div.month div.eventrows div.evrow div.ev a
{
	display:inline-block;
	width: 96%;
	height: 100%;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
    margin: 5px;
    min-width: 0;
    vertical-align: bottom;
}
div.month div.eventrows div.evrow div.f-con div.ev.ev-start
{
	/* border-top-left-radius: .7em;
	border-bottom-left-radius: .7em; */
	border-left-style: solid;
}
div.month div.eventrows div.evrow div.f-con div.ev.ev-end
{
	/* border-top-right-radius: .7em;
	border-bottom-right-radius: .7em; */
	border-right-style: solid;
}
div.month div.eventrows div.evrow div.f-con div.ev.topic-hilit
{
	border-width: 2px;
    border-color: rgb(61, 99, 148);
    
}

div.month div.eventrows div.evrow div.flex-1
{
	flex: 1;
}
div.month div.eventrows div.evrow div.flex-2
{
	flex: 2;
}
div.month div.eventrows div.evrow div.flex-3
{
	flex: 3;
}
div.month div.eventrows div.evrow div.flex-4
{
	flex: 4;
}
div.month div.eventrows div.evrow div.flex-5
{
	flex: 5;
}
div.month div.eventrows div.evrow div.flex-6
{
	flex: 6;
}
div.month div.eventrows div.evrow div.flex-7
{
	flex: 7;
}
